<app-hero />

<section class="home-history" aria-labelledby="build-deployment-history-heading">
  <div class="home-history__content layout-container">
    <h2 id="build-deployment-history-heading">Build &amp; Deployment History</h2>
    <app-deployment-history />
  </div>
</section>

<app-carousel
  [showPreviousNext]="true"
  [showPausePlay]="true"
  [showSlideNavigation]="false"
  [autoRotate]="true"
  [rotationInterval]="5000"
>
  <ng-template appCarouselSlide label="Engineering">
    <h3>Engineering</h3>
  </ng-template>

  <ng-template appCarouselSlide label="UX &amp; Product">
    <h3>UX &amp; Product</h3>
  </ng-template>

  <ng-template appCarouselSlide label="Accessibility">
    <h3>Accessibility</h3>
  </ng-template>

  <ng-template appCarouselSlide label="AI &amp; Innovation">
    <h3>AI &amp; Innovation</h3>
  </ng-template>

  <ng-template appCarouselSlide label="Creative">
    <h3>Creative</h3>
  </ng-template>

  <ng-template appCarouselSlide label="Impact">
    <h3>Impact</h3>
  </ng-template>
</app-carousel>
