<app-hero />

<app-carousel>
  <ng-template appCarouselSlide label="Engineering">
    <h3>Engineering</h3>
  </ng-template>

  <ng-template appCarouselSlide label="UX &amp; Product">
    <h3>UX &amp; Product</h3>
  </ng-template>

  <ng-template appCarouselSlide label="Accessibility">
    <h3>Accessibility</h3>
  </ng-template>

  <ng-template appCarouselSlide label="AI &amp; Innovation">
    <h3>AI &amp; Innovation</h3>
  </ng-template>

  <ng-template appCarouselSlide label="Creative">
    <h3>Creative</h3>
  </ng-template>

  <ng-template appCarouselSlide label="Impact">
    <h3>Impact</h3>
  </ng-template>
</app-carousel>
